@charset "utf-8";
@use 'bulma/sass/components/navbar';

// Notifications
$notification-width: 400px;
$notification-animation-duration: 0.3s;

// Checkbox
.b-checkbox.checkbox input[type="checkbox"]:focus:checked + .check,
.b-checkbox.checkbox input[type="checkbox"]:focus + .check {
    box-shadow: none !important;
}


// Navbar
$navbar_height: navbar.$navbar-height + 2rem;

// Dashboard

$background-color: #f6fafb;
$dashboard-aside-button-padding: 5px;
$dashboard-animation-duration: 250ms;
$dashboard-background-color: #eef2f3;
$dashboard-sidebar-left-background-color: #213555;
$dashboard-aside-button-hover: #3E5879;
$dashboard-sidebar-left-background-color-hover: #d0ddd0;
$dashboard-aside-text-color: #edefff;
$dashboard-patient-informations-missing: #ff6685;
$dashboard-patient-informations: #48c78e;

// Dark
$form-background-color-dark: #14161a;
$card-background-color-dark: #181b20;
$app-background-color-dark: #1f2229;
$card-item-background-color-dark: #22262c;
$quill-editor-background-color-dark: #23272d;
$text-dark : #1a202c;

