@charset "utf-8";
@use "custom" as *;

body {
    background-color: $app-background-color-dark;
}

#app {
    background-color: $app-background-color-dark;
}

/*#dashboard-sidebar-left, #dashboard-content, #dashboard-sidebar-right, .box, .box.has-background-white-bis {
    box-shadow: none !important;
}*/

.box.has-background-white-bis, #dashboard-content, #dashboard-sidebar-right {
    background-color: $card-background-color-dark !important;
    &.item {
        background-color: $card-item-background-color-dark !important;
    }
}

#dashboard-user {
    background-color: $card-item-background-color-dark;
}

#dashboard-sidebar-right {
    .resizer {
        &:hover {
            background: $card-item-background-color-dark;
        }
        &::after {
            background: $card-item-background-color-dark;
        }
    }
}

#dashboard-sidebar-right-btn-toggle{

    &:hover {
        background-color: $quill-editor-background-color-dark;
        color: $dashboard-aside-text-color;
    }

}

.modal-content {
    background-color: $form-background-color-dark;
    border-radius: var(--bulma-control-radius);
    .box {
        border: 1px solid $form-background-color-dark;
        background-color: inherit;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}

table.table {

    thead > tr > th, tbody > tr > td {
        vertical-align: middle;
    }

    tbody > tr.is-active, tbody > tr.is-active:hover {
        background-color: $card-background-color-dark !important;
    }

}

[id^="quill"] {
    background-color: $quill-editor-background-color-dark;
}

.ql-editor {
    color: #ccc;
    table > tbody > tr > td {
        border-color: #ccc;
        span {
            color: #ccc !important;
        }
    }
    background-color: $quill-editor-background-color-dark;
}
.ql-formats {
    color: #fff;
    background-color: $quill-editor-background-color-dark;
}
.ql-toolbar.ql-snow .ql-picker-label {
    color: #ffffff;
}

table.mcst {
    thead {
        th {
            &.table_mcst_answer {
                background-color: $card-background-color-dark;
            }
        }
    }
    colgroup {
        &.table_mcst_answer {
            background-color: $card-background-color-dark;
        }
    }
}

.fcr-image-container {
    background-color: $dashboard-aside-text-color !important;
}
