@use "custom" as *;
@use "quill-table-ui/src/index";

div.is-fullwidth {
    width: 100%;
}

[id^="quill"], div.ql-toolbar {
    margin: 0;
}

div.ql-container {
    padding: 1rem;
}

div.ql-toolbar {
    border-radius: var(--bulma-control-radius);
}

[id^="quill"] {
    border-radius: var(--bulma-control-radius);
    border: 1px solid var(--bulma-border-color);
    overflow: scroll;
    background-color: var(--bulma-white-bis);

    &.border-0 {
        border: none;
    }
}

.card-header-title {

    &.test-visibility {
        max-width: 50px;
    }

    &.test-name {
        word-break: break-all;
    }
}

#editor-content {
    // border: 1px solid var(--bulma-border-color);
    margin-top: 2rem;
    min-height: calc(100vh - $navbar_height - 2rem);
}



