@use "custom" as *;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #2e333d;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #ffffff;
}



html {
    line-height: 1.5;
    --dashboard-sidebar-right-width: 500px;
    --dashboard-sidebar-right-min-width: 100px;
}

body {
    height: 100dvh;
    &.dashboard {
        overflow: hidden;
    }
    background-color: $background-color;
}

#app {
    background-color: $background-color;
}

#dashboard-content {
    background-color: $dashboard-background-color;
    height: calc(100vh - $navbar_height - 2rem);
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll !important;
    overscroll-behavior-y: none;
    &::-webkit-scrollbar {
        display: none !important; // Safari and Chrome
    }

}

#content {
    &.is-desktop {
        margin-top: $navbar_height;
    }

    &.is-tablet {
        margin-top: $navbar_height;
    }

    &.dashboard > .page-content {
        display: grid;
        --dashboard-sidebar-right-clamped: clamp(var(--dashboard-sidebar-right-min-width), var(--dashboard-sidebar-right-width), 40vw);
        grid-template-columns: auto 1fr var(--dashboard-sidebar-right-clamped);
        transition-property: grid-template-columns;
        transition-duration: $dashboard-animation-duration;
        div.page-content-dashboard-livewire {
            display: contents;
        }
    }
}

#dashboard-sidebar-left {
    box-sizing: border-box;
    width: 300px;
    padding: 5px 1em;
    background-color: $dashboard-sidebar-left-background-color;
    position: sticky;
    top: $navbar_height;
    align-self: start;
    height: calc(100vh - $navbar_height - 2rem);
    transition: $dashboard-animation-duration ease-in-out;
    transition-property: width;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar {
        /*Chrome, Safari, Edge*/
        display: none;
        }
    text-wrap: nowrap;
    color: $dashboard-aside-text-color;

    .material-symbols-outlined {
        flex-shrink: 0;
    }

    &.close {
        padding: $dashboard-aside-button-padding;
        width: var(--dashboard-sidebar-right-min-width);
        span.ml-2.is-hidden-mobile, #dashboard-aside-search {
            display: none;
        }
        span.icon-text {
            display: contents;
        }
    }

    ul:not(.sub-menu) > li:first-child {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
    }

    span.icon-text,a, a.dropdown-menu-element {
        border-radius: .5rem;
        padding: .85rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1em;
        color: $dashboard-aside-text-color;
        text-wrap: wrap;
    }

    a.dropdown-menu-element span:last-child {
        margin-left: auto;
    }

    a:hover, .dropdown-menu-element:hover {
        background-color: $dashboard-aside-button-hover;
    }

    .material-symbols-outlined {
        flex-shrink: 0;
    }

    .dropdown-menu-element .material-symbols-outlined:last-child {
        transition: $dashboard-animation-duration ease;
    }

    .rotate .material-symbols-outlined:last-child {
        transform: rotate(-180deg);
    }

    .sub-menu {
        display: grid;
        grid-template-rows: 0fr;
        transition: $dashboard-animation-duration ease-in-out;

        > div {
            overflow: hidden;
        }

        &.show {
            grid-template-rows: 1fr;
        }

        a {
            padding-left: 2em;
        }

    }

     span.icon-text, .dropdown-menu-element {
        margin: .15rem 0;
        flex-grow: 1;
    }

}

table.table {

    thead > tr > th, tbody > tr > td {
        vertical-align: middle;
    }

    tbody > tr.is-active, tbody > tr.is-active:hover {
        background-color: var(--bulma-white-ter) !important;
    }

}

#dashboard-sidebar-right {

    box-sizing: border-box;
    padding: 5px 1em;
    position: sticky;
    background-color: $dashboard-background-color;
    top: $navbar_height;
    align-self: start;
    height: calc(100vh - $navbar_height - 2rem);
    transition: $dashboard-animation-duration ease-in-out;
    transition-property: width;
    overflow-x: hidden;
    overflow-y: scroll;
    text-wrap: nowrap;

    &.close {
        padding: $dashboard-aside-button-padding;
        width: var(--dashboard-sidebar-right-min-width);
        span.ml-2.is-hidden-mobile {
            display: none;
        }

        [id^="quill"], div.ql-toolbar {
            display: none;
        }

    }

    .rotate .material-symbols-outlined:last-child {
        transform: rotate(-180deg);
    }

    .material-symbols-outlined:last-child {
        transition: $dashboard-animation-duration ease;
    }

    .resizer {
        position: absolute;
        top: 0;
        left: -5px;
        height: 100%;
        width: 10px;
        cursor: ew-resize;
        touch-action: none;

        &:hover {
            background: $dashboard-sidebar-left-background-color-hover;

            &::after {
                transform: scale(1);
                opacity: .5;
            }

        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dashboard-sidebar-left-background-color-hover;
            transform: scale(0);
            opacity: 0;
            transition: .3s;
        }

    }

}

#dashboard-sidebar-left-btn-toggle, #dashboard-sidebar-right-btn-toggle{
    padding: 1em;
    margin: 1rem;
    border: none;
    border-radius: .5rem;
    background: none;
    cursor: pointer;
    transition: transform 650ms ease;

    &:hover {
        background-color: $dashboard-aside-button-hover;
    }

    .material-symbols-outlined:last-child {
        transition: $dashboard-animation-duration ease;
    }
}

#dashboard-sidebar-right-btn-toggle{

    &:hover {
        background-color: $dashboard-sidebar-left-background-color-hover;
    }

}

#dashboard-user {
    &.is-missing {
        outline: 2px solid $dashboard-patient-informations-missing;
    }
    outline: 2px solid $dashboard-patient-informations;
}

button.test-action {

    padding: .75rem;
    border-radius: var(--bulma-control-radius);

    span {
        transition: $dashboard-animation-duration ease;
    }

    &.toggle.rotate {
        span {
            transform: rotate(180deg);
        }
    }

}

div.box.template {
    &.patient-tests-is-empty {
        width: 200px;
    }
    &.quill-empty {
        width: 150px;
    }
}





