@use 'bulma/sass/components/navbar';

@media (min-width: 769px) and (max-width: 1200px) {
    #content.is-tablet {
        #dashboard-content {
            //overflow-y: scroll !important;
        }
    }

    #modal-patient {
        .modal-content {
            width: 85%;
        }
    }

}

@media (min-width: 769px) and (max-width: 1200px) and (orientation: landscape) {
    #content.is-tablet {
        #dashboard-content {
            //overflow-y: scroll !important;
        }
    }

    #modal-patient {
        .modal-content {
            width: 85%;
        }
    }

}

@media (min-width: 769px) and (max-width: 1600px) {

    div.table-container {
        max-height: 60svh;
    }

}
