.fadeIn {
    animation: fadeIn 150ms ease-in-out;
}

.fadeOut {
    animation: fadeOut 150ms ease-in-out;
}

button.modal-close {
    top: 4rem;
    right: 4rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: .8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#modal-patient {
    .modal-content {
        width: 60%;
        form {
            padding: 1rem;
        }
    }
}
