@use 'bulma/sass/components/navbar';
@use "custom" as *;
$notification_top : navbar.$navbar-height + .75rem;
#notifications-container-session, #notifications-container-live {position: absolute}
.notification {
    position: relative;
    left: calc(100svw - $notification-width - .75rem);
    top: $notification_top;
    z-index: 10;
    width: $notification-width;

    button.delete {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

}
#notifications-container-session {
    .notification {
        top: $notification_top + 1rem;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }
}

.animate__fadeInRight {
    animation-name: fadeInRight;
    animation-duration: $notification-animation-duration;
}

.animate__fadeOutUp {
    animation-name: fadeOutUp;
    animation-duration: $notification-animation-duration * 2;
    animation-fill-mode: forwards;
}
