/* This is just to transition when you change the viewport size. */
* {
    //transition: all 0.5s ease-out;
}

body.guest {
    background-color: #071c39;
    position: absolute;
    inset: 0;
    display: flex;
    margin: 0;
    place-content: center;
    align-items: center;
    overflow: hidden;

    .hero {
        overflow: hidden;
        position: absolute;
        width: 40rem;

        .hero-body {
            width: 100%;

            .columns {
                width: 100%;
            }

            .card-header {
                box-shadow: none;
            }
        }

    }
}

button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

.gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}
