@use "sass:meta";

/*$text-custom: #4a4a4a;
$link-custom: #54adbc;
$primary-custom: #54adbc;
$info-custom: #4a4a4a;
$success-custom: #4a4a4a;
$warning-custom: #4a4a4a;
$danger-custom: #4a4a4a;

@use "bulma/sass" with (
    $family-primary: '"alexandria", Segoe UI, "Nunito", sans-serif',
    $link : $link-custom,
    $primary : $primary-custom,
    $info : $info-custom,
    $success : $success-custom,
    $warning : $warning-custom,
    $danger : $danger-custom,
);*/

@use "bulma/bulma";
@forward "bulma-checkbox";
@forward "bulma-radio";
@forward "custom";
@forward "welcome";
@forward "main";
@forward "modal";
@forward "notification";
@forward "form";
@forward "editor";
@forward "categories";
@forward "profile";
@forward "media-queries";
@forward "select-multi";
@forward "tables";
@forward "timer";
@forward "fcr";

@media (prefers-color-scheme: dark) {
    @include meta.load-css("dark-theme");
}
